@import 'common/variables';
@import 'common/mixins';
@import "common/fonts";
@import 'common/bootstrap';
@import 'common/general';
@import "components/nav";
@import "components/footer";
@import "components/homepage";
@import "components/collection";
@import "components/cart";
@import "components/product-detail";
@import "components/news";
@import "components/login";
@import "components/checkout";
@import "components/jacking-fb";
@import "components/admin-account";
@import "components/edit-account";
@import "libs/font-awesome";
// import owl.carousel css
@import '../../../node_modules/owl.carousel/src/scss/owl.carousel';
@import "../../../node_modules/lightbox2/dist/css/lightbox"
