.header {
  padding-top: 20px;

  &-top {
    .wrapper {
      float: right;
    }

    .header-right {
      float: right;
      padding: 0 20px;
      color: $color-white;
      margin-top: 5px;

      .icon {
        float: left;
        margin-left: 20px;

        .ico {
          font-size: 20px;
          color: $color-hotpink;
        }
      }
    }
  }

  &-search {
    position: relative;
    display: inline-block;

    .search-icon {
      position: absolute;
      top: 3px;
      left: 10px;
      border: 0;
      background-color: transparent;
      padding: 0;
      outline: none;
      font-size: 16px;
    }

    input {
      background: transparent;
      border: 1px solid $color-gray60;
      padding: 0px 30px;
      line-height: 30px;
      color: $color-gray80;
      width: 400px;
    }
  }

  &-logo {
    padding-left: 30px;

    .logo {
      display: inline-block;
    }

    img {
      max-height: 60px;
    }
  }

  &-menu {
    border-bottom: 1px solid $color-gray47;
    background-color: $color-black;
    padding: 0;

    &.affix {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1005;

      .mega-menu {
        .main-menu {
          margin-top: 15px;
        }
      }
    }

    .mega-menu {
      position: relative;
      float: right;

      .btn-back-menu{
        display: none;
      }

      .main-menu {
        margin-top: 35px;

        .has-menu {
          display: inline-block;
          position: static;
          float: left;
          line-height: 35px;

          .menu-item {
            position: relative;
            padding: 0 15px;
            display: inline-block;
            color: $color-white;
            font-size: 14px;
            text-transform: uppercase;

            &:after {
              position: absolute;
              left: 15px;
              right: 15px;
              bottom: 0;
              background-color: $color-hotpink;
              transition: all .5s;
              transform: scale(0);
              height: 2px;
              content: '';
            }
          }

          .button-sub-menu {
            display: none;
          }

          .sub-level1-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $color-black;
            z-index: 1000;

            .mega-wrapper {
              padding: 10px;
              border: 1px solid $color-gray47;
            }

            .blk-img {
              display: inline-block;
              float: left;
              width: 200px;
            }

            .blk-menu {
              display: inline-block;
              position: relative;

              .sub-item-level1 {
                &:hover {
                  .sub-item {
                    color: $color-hotpink;
                  }
                }

                .sub-item {
                  position: relative;
                  display: inline-block;
                  width: 100%;
                  padding: 5px 25px;
                  font-size: 15px;
                  line-height: 1.2em;
                  color: $color-white;
                  text-transform: capitalize;
                }

                .sub-level2-menu {
                  display: none;
                  position: absolute;
                  top: 0;
                  left: 100%;
                  padding: 0 20px;
                  border-left: 1px solid $color-gray47;
                  width: 100%;

                  li {
                    width: 180px;
                  }

                  a {
                    color: $color-white;
                    text-transform: capitalize;

                    &:hover {
                      color: $color-hotpink;
                    }
                  }
                }
              }

              .has-sub {
                &:hover {
                  .sub-item {
                    color: $color-hotpink;

                    &:after {
                      display: inline-block;
                      position: absolute;
                      top: 0;
                      line-height: 15px;
                      right: 2px;
                      font-size: 12px;
                      font-family: FontAwesome;
                      color: $color-hotpink;
                      content: "\f054";
                    }
                  }

                  .sub-level2-menu {
                    display: block;
                  }
                }

                .button-sub-menu {
                  display: none;
                }
              }
            }
          }

          &:hover {
            .menu-item {
              color: $color-hotpink;

              &:after {
                transform: scale(1);
              }
            }
          }
        }

        .has-mega {
          &:hover {
            .sub-level1-menu {
              display: block;
            }
          }
        }
      }
    }

    .mobile-burger {
      display: none;

      .btn-burger {
        float: left;
        border: 1px solid $color-gray47;
        border-radius: 0;
        margin: 6px 0 0;
        border: 0;

        .icon-bar {
          background-color: $color-gray47;
        }

        &.collapsed {
          .icon-bar {
            &.first,
            &.third {
              top: auto;
              transform: none;
            }

            &.second {
              opacity: 1;
            }
          }
        }
      }
    }

    .mobile-right {
      display: none;
      float: right;
      margin-top: 10px;

      .icon {
        float: left;
        margin-left: 20px;

        .ico {
          font-size: 25px;
          color: $color-hotpink;
        }
      }

      .search-button {
        position: relative;

        .btn-search {
          border: 0;
          outline: none;
          background-color: transparent;
          padding: 0;
        }
      }

      .mobile-search {
        position: absolute;
        top: 43px;
        right: 0;
        z-index: 1000;

        input {
          background: $color-black;
          border-top: 0;
          border: 1px solid $color-gray60;
          padding: 0 5px;
          line-height: 30px;
          color: $color-gray80;
          width: 250px;
        }
      }
    }
  }

  @media(max-width: $screen-md) {
    &-logo {
      margin-top: 15px;
      padding-left: 0;
    }

    &-menu {
      .mega-menu {
        .main-menu {
          .has-menu {
            .menu-item {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  @media(max-width: $screen-sm) {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray47;

    &-top {
      display: none;
    }

    &-menu {
      border-bottom: 0;

      .mobile-burger {
        display: block;
      }

      .mobile-logo {
        float: left;
        margin-top: 0;
        margin-left: 10px;

        img {
          max-height: 42px;
        }
      }

      .mobile-right {
        display: block;
      }

      .mega-menu {
        position: fixed;
        top: 0;
        left: -80%;
        right: 0;
        bottom: 0;
        width: 80%;
        height: 100%;
        float: none;
        background-color: $color-white;
        margin: 0;
        z-index: 1001;

        .mb-menu-title {
          text-align: center;
          color: $color-black;
          border-bottom: 1px solid $color-gray47;
          padding: 15px 0;
        }

        .btn-back-menu {
          display: none;
          position: absolute;
          top: -3px;
          background-color: transparent;
          color: $color-black;
          outline: none;
          border: 0;
          border-radius: 0;
          font-size: 22px;
          width: 50px;
          height: 52px;
          padding: 0 20px 0 0;
        }

        .main-menu {
          float: none !important;
          margin: 0;

          .has-mega {
            position: relative;

            &:hover {
              .sub-level1-menu {
                transform: translateX(-200%);
              }
            }

            // &.active {
            //   .menu-item {
            //     &:before {
            //       content: "\f068";
            //     }
            //   }
            // }

            .button-sub-menu {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              color: $color-black;
              text-align: center;
              font-family: 'FontAwesome';
              border-left: 1px solid $color-gray47;
              font-size: 22px;
              width: 35px;
              height: 35px;
              line-height: 35px;
            }
          }

          .has-menu {
            display: block;
            float: none;

            &.active {
              .sub-level1-menu {
                transform: translateX(-100%);
              }
            }

            &:hover {
              .menu-item {
                color: $color-black;

                &:after {
                  display: none;
                }
              }
            }

            .menu-item {
              display: block;
              color: $color-black;
              border-bottom: 1px solid $color-gray47;
            }

            .sub-level1-menu {
              display: block;
              position: fixed;
              top: 50px;
              width: 80%;
              transform: translateX(-200%);
              transition: transform .5s;
              background-color: $color-white;
              border-right: 1px solid $color-gray42;
              height: 100%;

              .mega-wrapper {
                border: 0;
                padding: 0;
              }

              .blk-img {
                display: none;
              }

              .blk-menu {
                display: block;
                padding-left: 0;
                border-bottom: 1px solid $color-gray47;
                background-color: #fff;

                .has-sub {
                  position: relative;

                  &:hover {
                    .sub-level2-menu {
                      transform: translateX(-200%);
                    }
                  }

                  // &.active {
                  //   .sub-item {
                  //     &:before {
                  //       content: "\f068";
                  //     }
                  //   }
                  // }

                  .button-sub-menu {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $color-black;
                    text-align: center;
                    font-family: 'FontAwesome';
                    border-left: 1px solid $color-gray47;
                    font-size: 22px;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                  }
                }

                .sub-item-level1 {
                  &:hover {
                    .sub-item {
                      color: $color-black;

                      &:after {
                        display: none;
                      }
                    }
                  }

                  &.active {
                    .sub-level2-menu {
                      transform: translateX(-100%);
                    }
                  }

                  &:last-child {
                    .sub-item {
                      border: 0;
                    }
                  }

                  .sub-item {
                    padding: 10px 15px;
                    border-bottom: 1px solid $color-gray47;
                    display: block;
                    color: $color-black;
                    font-size: 13px;
                  }

                  .sub-level2-menu {
                    display: block;
                    position: fixed;
                    top: 0;
                    padding: 0;
                    border: none;
                    border-right: 1px solid $color-gray42;
                    border-bottom: 1px solid $color-gray47;
                    background-color: $color-white;
                    width: 100%;
                    transform: translateX(-200%);
                    transition: transform .5s;
                    z-index: 1000;
                    height: 100%;

                    li {
                      display: block;
                      width: auto;
                    }

                    a {
                      border-bottom: 1px solid $color-gray47;
                      color: $color-black;
                      font-size: 13px;
                      padding-left: 15px;

                      &:hover {
                        color: $color-black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $screen-sm) {
  .main-wrapper {
    transform: translateX(0);
    transition: transform .5s ease;
  }

  .slide-menu-mb {
    overflow: hidden;

    .main-wrapper {
      transform: translateX(80%);
      transition: transform .5s;

      .mb-menu-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: 10000;
      }

      .mega-menu {
        display: block;
      }

      .mobile-burger {
        .btn-burger {
          .icon-bar {
            &.first {
              position: relative;
              top: 6px;
              transform: rotate(45deg)
            }

            &.third {
              position: relative;
              top: -6px;
              transform: rotate(135deg)
            }

            &.second {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
