h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

hr {
  border-color: $color-gray47;
}

body {
  background-color: $color-black;
  color: $color-white;
  font-family: 'OpenSans';
}

img {
  max-width: 100%;
}

a {
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
