doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title k-proj
    meta(name='description', content='')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='icon' type='image/png' href='favicon.ico')

    meta(property='og:locale', content='fr_FR')
    meta(property='og:type', content='website')
    meta(property='og:title', content='#{appName}')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')

    <!-- inject:css -->
    <!-- endinject -->
    link(rel='stylesheet', href='assets/css/app.css')
    <!-- endbuild -->

  body
    .container
      .success-title
        a(href="/homepage.html").btn-back-home Về trang chủ
        h1 đặt hàng thành công
      .success-content
        .product-code
          p Mã Đơn Hàng: 
            span.order-code SKUD9304
        .product-content
          h4 Bạn vừa đặt
          .product-wrapper
            .prod-img
              img(src="../../assets/images/pages/prod_sale4.jpg", alt="product-img")
            .prod-name
              | sản phẩm ABC
        .product-checkout
          p
            b Giá trị đơn hàng:
            span.price  600,000đ
          p
            b Phí vận chuyển:
            span.ship-price  20,000đ
          p
            b Tổng cộng:
            span.total-price  620,000đ
          p
            b Phương thức thanh toán:
            span.type-transfer Giao tiền khi nhận hàng
        p.customer-thank 
          | Cảm ơn bạn đã mua hàng tại:
          span Despacito
