extends tmpl/layout/layout.pug

block content
  section.container.admin-content
    .row
      .col-md-3
        .manager-list
          ul
            li
              a(href="/account-admin.html") thông tin tài khoản
            li
              a(href="/check-order.html") kiểm tra đơn hàng
            li
              a(href="#") danh sách yêu thích
      .col-md-9
        .order-content
          table.table.order-table
            thead
              tr
                th Mã Đơn Hàng
                th Ngày Đặt
                th Phương Thức Thanh Toán
                th Vận Chuyển
                th Tổng Tiền
            tbody
              tr
                td SKUD9304
                td 20 Th11, 2017
                td Tiền Mặt
                td Bưu Điện
                td 200,000đ
