extends tmpl/layout/layout.pug

block content
  section.container.collection
    .collection-top
      .breadscrumb
        ul.breadscrumb-wrapper
          li.breadscrumb-item
            a(href="#") Home
          li.breadscrumb-item
            a(href="#") Collection
          li.breadscrumb-item
            span Product1
      .collection-filter
        .filter-item
          .sort-by
            select.filter-select
              option(value="manual") SẢN PHẨM NỔI BẬT
              option(value="price-ascending") GIÁ TĂNG DẦN
              option(value="price-descending") GIÁ GIẢM DẦN
              option(value="title-ascending") TÊN: A-Z
              option(value="title-descending") TÊN: Z-A
              option(value="oldest") CŨ NHẤT
              option(value="newest") MỚI NHẤT
              option(value="best-saling") BÁN CHẠY NHẤT
        .filter-item
          .sort-by-price
            select.filter-select
              option MỨC GIÁ
              option(value="<300") Dưới 300.000
              option(value="300-500") 300.000 - 500.000
              option(value="500-1000") 500.000 - 1.000.000
              option(value=">1000") Lớn hơn 1.000.000
        .filter-item
          .sort-by-price
            select.filter-select
              option MÀU SẮC
              option(value="prod-blue") Xanh Dương
              option(value="prod-yellow") Vàng
              option(value="prod-pink") Hồng
              option(value="prod-black") Đen
      .collection-banner.clearfix
        .banner-img
          img(src="../assets/images/pages/collection_banner.jpg", alt="collect-banner")
        .banner-desc
          img(src="../assets/images/pages/banner_saleoff.png", alt="collect-banner-saleoff")
      .container-fluid.collection-list
        .row
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale1.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 1
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale2.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 2
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale3.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 3
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale4.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 4
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale1.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 1
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale2.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 2
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale3.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 3
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale4.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 4
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale1.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 1
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale2.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 2
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale3.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 3
                .prod-price 69$
          .col-md-3.col-sm-3.col-xs-6
            .prod-box
              .prod-img
                img(src="../../assets/images/pages/prod_sale4.jpg", alt="product-img")
              .prod-id SP001
              .prod-desc
                .prod-name Product Sale 4
                .prod-price 69$
