extends tmpl/layout/layout.pug

block content
  section.container.admin-content
    .row
      .col-md-3
        .manager-list
          ul
            li
              a(href="/account-admin.html") thông tin tài khoản
            li
              a(href="/check-order.html") kiểm tra đơn hàng
            li
              a(href="#") danh sách yêu thích
      .col-md-9
        .edit-account
          form.edit-content.js-form-validate
            .form-info
              .form-group
                input#fullname.form-control(type='text' placeholder="Họ Và Tên" name="customer-fullname" required)
              .form-group
                input#pwd.form-control(type='number' placeholder="Số điện thoại" name="customer-phonenumb" required)
              .form-group
                input#email.form-control(type="email" placeholder="Email" name="customer-email" required)
              .form-group
                input#address.form-control(type="text" placeholder="Đia Chỉ" name="customer-address" required)
              .form-group
                textarea(placeholder="Ghi Chú Đơn Hàng" name="customer-note")
            button.btn-update Cập Nhật
