extends tmpl/layout/layout.pug

block content
  .container.homepage-content
    section.homepage-carousel
      .js-homepage-carousel.owl-carousel.owl-theme.carousel
        .item
          img(src="../../assets/images/pages/home_slider1.jpg", alt="home-slider1")
        .item
          img(src="../../assets/images/pages/home_slider2.jpg", alt="home-slider2")
    section.container.product-banner
      .row
        .col-md-6.col-sm-6
          .flash-prod.prod-box
            .prod-counter.clearfix
              .countdown-title
              .countdown-timer
                span.js-prod-days.days
                | :
                span.js-prod-hours.hours
                | :
                span.js-prod-mins.mins
                | :
                span.js-prod-secs.secs
            .prod-img
              img(src="../../assets/images/pages/product_img.png", alt="product-img")
            .prod-id SP001
            .prod-desc
              .prod-name Product 1
              .prod-price 69$
        .col-md-6.col-sm-6
          .hot-prod.prod-box
            .prod-counter.clearfix
              .countdown-title
              .countdown-timer
                span.js-prod-days.days
                | :
                span.js-prod-hours.hours
                | :
                span.js-prod-mins.mins
                | :
                span.js-prod-secs.secs
            .prod-img
              img(src="../../assets/images/pages/product_img.png", alt="product-img")
            .prod-id SP002
            .prod-desc
              .prod-name Product 2
              .prod-price 96$
    section.container-fluid.product-list
      .row
        .col-md-4.col-sm-6.col-xs-6
          .prod-content
            a(href="#", target="_blank")
              img(src="../../assets/images/pages/prod_thumbnail1.jpg", alt="")
              p.prod-name PRODUCT 1
        .col-md-4.col-sm-6.col-xs-6
          .prod-content
            a(href="#", target="_blank")
              img(src="../../assets/images/pages/prod_thumbnail2.jpg", alt="")
              p.prod-name PRODUCT 2
        .col-md-4.col-sm-6.col-xs-6
          .prod-content
            a(href="#", target="_blank")
              img(src="../../assets/images/pages/prod_thumbnail3.jpg", alt="")
              p.prod-name PRODUCT 3
        .col-md-4.col-sm-6.col-xs-6
          .prod-content
            a(href="#", target="_blank")
              img(src="../../assets/images/pages/prod_thumbnail1.jpg", alt="")
              p.prod-name PRODUCT 4
        .col-md-4.col-sm-6.col-xs-6
          .prod-content
            a(href="#", target="_blank")
              img(src="../../assets/images/pages/prod_thumbnail2.jpg", alt="")
              p.prod-name PRODUCT 5
        .col-md-4.col-sm-6.col-xs-6
          .prod-content
            a(href="#", target="_blank")
              img(src="../../assets/images/pages/prod_thumbnail3.jpg", alt="")
              p.prod-name PRODUCT 6
    section.homepage-banner
      img(src="../../assets/images/pages/home_banner.jpg", alt="home-banner")
    section.container-fluid.product-sale
      .sale-title
        p SALE INFORMATION
      .row
        .col-md-3.col-sm-3.col-xs-6
          .prod-box
            .prod-img
              img(src="../../assets/images/pages/prod_sale1.jpg", alt="product-img")
            .prod-id SP001
            .prod-desc
              .prod-name Product Sale 1
              .prod-price 69$
        .col-md-3.col-sm-3.col-xs-6
          .prod-box
            .prod-img
              img(src="../../assets/images/pages/prod_sale2.jpg", alt="product-img")
            .prod-id SP001
            .prod-desc
              .prod-name Product Sale 2
              .prod-price 69$
        .col-md-3.col-sm-3.col-xs-6
          .prod-box
            .prod-img
              img(src="../../assets/images/pages/prod_sale3.jpg", alt="product-img")
            .prod-id SP001
            .prod-desc
              .prod-name Product Sale 3
              .prod-price 69$
        .col-md-3.col-sm-3.col-xs-6
          .prod-box
            .prod-img
              img(src="../../assets/images/pages/prod_sale4.jpg", alt="product-img")
            .prod-id SP001
            .prod-desc
              .prod-name Product Sale 4
              .prod-price 69$
    hr.home-border
