extends tmpl/layout/layout.pug

block content
  section.blk-login-signup
    .breadscrumb
      ul.breadscrumb-wrapper
        li.breadscrumb-item
          a(href="#") Home
        li.breadscrumb-item
          a(href="#") Tài khoản
        li.breadscrumb-item
          span Đăng nhập & Đăng ký
    .row
      .col-sm-4
        .blk-account
          h5.account-title Đăng Nhập
          hr
          p **Đăng nhập vào tài khoản của bạn để kiểm tra và theo dõi đơn hàng.
          form.login-form.js-form-validate
            .form-group
              label(for='email') Email address:
              input#email.form-control(type='email' name="login-email" placeholder="Email..." required)
            .form-group
              label(for='pwd') Password:
              input#pwd.form-control(type='password' name="login-pwd" placeholder="Mật Khẩu..." required)
            button.btn-submit.btn-login Đăng Nhập
      .col-sm-4
        .blk-account
          h5.account-title Đăng Ký
          hr
          p **Tạo tài khoản để được hưởng những quyền lời từ công ty
          form.login-form.js-form-validate
            .form-group
              label(for='email') Họ:
              input#firstname.form-control(type='text' name="signup-firstname" placeholder="Họ..." required)
            .form-group
              label(for='pwd') Tên:
              input#lastname.form-control(type='text' name="signup-lastname" placeholder="Tên..." required)
            .form-group
              label(for='email') Địa Chỉ Email:
              input#email.form-control(type='text' name="signup-email" placeholder="Địa Chỉ Email..." required)
            .form-group
              label(for='pwd') Mật Khẩu:
              input#password.form-control(type='text' name="signup-pwd" placeholder="Mật Khẩu..." required)
            button.btn-submit.btn-login Đăng Ký
      .col-sm-4
        .blk-account.blk-login-social
          h5.account-title Đăng Ký Nhanh
          hr
          .login-social
            p Đăng nhập hoặc tạo tài khoản với
            a(href="#").btn-facebook Facebook
            a(href="#").btn-ggplus Google
