extends tmpl/layout/layout.pug

block content
  section.container.blk-login-signup
    .breadscrumb
      ul.breadscrumb-wrapper
        li.breadscrumb-item
          a(href="#") Home
        li.breadscrumb-item
          a(href="#") Tài khoản
        li.breadscrumb-item
          span Đăng nhập & Đăng ký
    .row
      .col-md-4
        .blk-login
          h5.account-title Đăng Nhập
          hr
          p **Đăng nhập vào tài khoản của bạn để kiểm tra và theo dõi đơn hàng.
          form.login-form
            .form-group
              label(for='email') Email address:
              input#email.form-control(type='email' placeholder="Email...")
            .form-group
              label(for='pwd') Password:
              input#pwd.form-control(type='password' placeholder="Mật Khẩu...")
            button.btn-submit.btn-login Đăng Nhập
      .col-md-4
        .blk-signup
          h5.account-title Đăng Ký
          hr
          p **Tạo tài khoản để được hưởng những quyền lời từ công ty
          form.login-form
            .form-group
              label(for='email') Họ:
              input#firstname.form-control(type='text' placeholder="Họ...")
            .form-group
              label(for='pwd') Tên:
              input#lastname.form-control(type='text' placeholder="Tên...")
            .form-group
              label(for='pwd') Địa Chỉ Email:
              input#email.form-control(type='text' placeholder="Địa Chỉ Email...")
            .form-group
              label(for='pwd') Mật Khẩu:
              input#password.form-control(type='text' placeholder="Mật Khẩu...")
            button.btn-submit.btn-login Đăng Ký
      .col-md-4
        .blk-login-social
