section.footer
  .container.footer-content
    .row
      .col-md-4.col-sm-4
        .footer-blk
          .blk-box.blk-address
            h4.title.company-address Dia Chi Cong Ty
            p 69 duong sin chau, phuong 6, quan 9.
          .blk-box.blk-hotline
            h4.title.hot-line HOTLINE
            p 1900 69696
            p 1900 96969
            p 0909 696 969
          .blk-box.blk-email
            h4.title Email
            p kkk@gmail.com
      .col-md-4.col-sm-4
        .footer-blk
          .blk-box.blk-address
            h4.title.company-address Dia Chi Cong Ty
            p 69 duong sin chau, phuong 6, quan 9.
          .blk-box.blk-hotline
            h4.title.hot-line HOTLINE
            p 1900 69696
            p 1900 96969
            p 0909 696 969
          .blk-box.blk-email
            h4.title Email
            p kkk@gmail.com
      .col-md-4.col-sm-4
        .footer-blk
          .blk-box
            h4.title Dich Vu Thanh Toan
            img.footer-payment(src="../../assets/images/icons/payment.png", alt="")
          .blk-box
            h4.title Ket Noi Voi Chung Toi
            ul.footer-social
              li.facebook
                a(href="#")
                  i.fa.fa-facebook.ico
              li.youtube
                a(href="#")
                  i.fa.fa-youtube.ico
              li.instagram
                a(href="#")
                  i.fa.fa-instagram.ico
              li.google
                a(href="#")
                  i.fa.fa-google-plus.ico
