section.footer
  .container.footer-content
    .row
      .col-md-3.col-sm-3
        .footer-blk
          .blk-box
            h4.title.company-address ĐỊA CHỈ LIÊN HỆ
            .blk-address.blk-list.clearfix
              span.footer-contact Số 37, Đường D2, Phường 27, Quận Bình Thạnh.
            .blk-hotline.blk-list.clearfix
              span.fa.fa-phone.ico-footer
              span.footer-contact 1900 69696 - 1900 96969
            .blk-email.blk-list.clearfix
              span.fa.fa-envelope-o.ico-footer
              span.footer-contact dinhthe1712@gmail.com
      .col-md-3.col-sm-3
        .footer-blk
          .blk-footer-menu
            h4.menu-title THÔNG TIN
            ul.menu-list
              li
                a(href="#") Giới Thiệu
              li
                a(href="#") Thanh Toán
              li
                a(href="#") Tin Tức
              li
                a(href="#") Tư Vấn
              li
                a(href="#") Sản Phẩm
      .col-md-3.col-sm-3
        .footer-blk
          .blk-footer-menu
            h4.menu-title THÔNG TIN
            ul.menu-list
              li
                a(href="#") Giới Thiệu
              li
                a(href="#") Thanh Toán
              li
                a(href="#") Tin Tức
              li
                a(href="#") Tư Vấn
              li
                a(href="#") Sản Phẩm
      .col-md-3.col-sm-3
        .footer-blk
          .blk-box
            h4.title Dịch Vụ Thanh Toán
            img.footer-payment(src="../../assets/images/icons/payment.png", alt="")
          .blk-box
            h4.title Kết Nói Với Chúng Tôi
            ul.footer-social
              li.facebook
                a(href="#")
                  i.fa.fa-facebook.ico
              li.youtube
                a(href="#")
                  i.fa.fa-youtube.ico
              li.instagram
                a(href="#")
                  i.fa.fa-instagram.ico
              li.google
                a(href="#")
                  i.fa.fa-google-plus.ico
  .blk-copyright
    a(href="#")
      span.fa.fa-copyright.ico-copyright
      p Design By: Thiết Kế Web Cường Thịnh.
