section.header
  .container
    .row
      .header-top.clearfix
        .wrapper
          .header-search
            button.search-icon
              i.fa.fa-search
            form
              input.search-box(type="text" placeholder="Enter to search...")
          .header-right
            ul.clearfix
              li.icon
                i.fa.fa-phone.ico
                |1900 69696
              li.icon
                a(href="/login.html")
                  i.fa.fa-user.ico
              li.icon
                a(href="/cart.html")
                  i.fa.fa-shopping-cart.ico
      .container.header-menu.clearfix(data-spy="affix" data-offset-top="52")
        .col-lg-5.col-md-3.col-sm-3.col-xs-12
          .mobile-burger
            button.btn-burger.navbar-toggle.js-toggle-menu-mobile
              span.sr-only Toggle navigation
              span.icon-bar.first
              span.icon-bar.second
              span.icon-bar.third
          .header-logo.mobile-logo.js-header-log
            a.logo(href="/homepage.html")
              img(src="../../assets/images/icons/home_logo.png")
          ul.mobile-right.clearfix
            li.icon.search-button
              button.btn-search(href="#" data-toggle="collapse" data-target="#search-form")
                i.fa.fa-search.ico
              form#search-form.mobile-search.collapse
                input.search-box(type="text" placeholder="Enter to search...")
            li.icon
              a(href="#")
                i.fa.fa-user.ico
            li.icon
              a(href="#")
                i.fa.fa-heart.ico
        .col-lg-7.col-md-9.col-sm-9.col-xs-12
          .mb-menu-mask
          .mega-menu.clearfix
            button.btn-back-menu.js-btn-back-mn
              i.fa.fa-angle-left
            p.mb-menu-title.visible-xs Menu
            ul.pull-right.main-menu.clearfix
              li.dropdown.has-menu
                a.menu-item(href="/homepage.html") Trang Chủ
              li.dropdown.has-menu.has-mega.js-has-mb-mn
                a.menu-item(href="#") Sản Phẩm
                span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                  i.fa.fa-angle-right
                ul.sub-level1-menu
                  .mega-wrapper.clearfix
                    .blk-img
                      a(href="#")
                        img(src="../../assets/images/menu/menu_item_img.jpg")
                    ul.blk-menu
                      li.has-sub.sub-item-level1.js-has-mb-mn
                        a.sub-item(href="/collection.html") Áo Sơ Mi
                        span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                          i.fa.fa-angle-right
                        ul.sub-level2-menu
                          li
                            a(href="/collection.html") Áo Sơ Mi Tay Ngắn
                          li
                            a(href="/collection.html") Áo Sơ Mi Tay Dài
                          li
                            a(href="/collection.html") Áo Sơ Mi Vãi Cotton
                          li
                            a(href="/collection.html") Áo Sơ Mi Xuất Khẩu
                          li
                            a(href="/collection.html") Áo Sơ Mi Kẻ Caro
                          li
                            a(href="/collection.html") Áo Sơ Mi Cho Nữ
                          li
                            a(href="/collection.html") Áo Sơ Mi Cho Nam
                      li.has-sub.sub-item-level1.js-has-mb-mn
                        a.sub-item(href="/collection.html") Quần Jean
                        span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                          i.fa.fa-angle-right
                        ul.sub-level2-menu
                          li
                            a(href="/collection.html") Quần Jean Cho Nam
                          li
                            a(href="/collection.html") Quần Jean Cho Nữ
                          li
                            a(href="/collection.html") Quần Jean Loại 1
                          li
                            a(href="/collection.html") Quần Jean Loại 2
                          li
                            a(href="/collection.html") Quần Jean Loại 3
                          li
                            a(href="/collection.html") Quần Jean Loại 4
                          li
                            a(href="/collection.html") Quần Jean Loại 5
                      li.has-sub.sub-item-level1.js-has-mb-mn
                        a.sub-item(href="/collection.html") Áo Khoác
                        span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                          i.fa.fa-angle-right
                        ul.sub-level2-menu
                          li
                            a(href="/collection.html") Áo Khoác Cho Nam
                          li
                            a(href="/collection.html") Áo Khoác Cho Nữ
                          li
                            a(href="/collection.html") Áo Khoác Loại 1
                          li
                            a(href="/collection.html") Áo Khoác Loại 2
                          li
                            a(href="/collection.html") Áo Khoác Loại 3
                          li
                            a(href="/collection.html") Áo Khoác Loại 4
                          li
                            a(href="#") Áo Khoác
                      li.has-sub.sub-item-level1.js-has-mb-mn
                        a.sub-item(href="/collection.html") Quần Áo Ngủ
                        span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                          i.fa.fa-angle-right
                        ul.sub-level2-menu
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 1
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 2
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 3
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 4
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 5
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 6
                          li
                            a(href="/collection.html") Quần Áo Ngủ Loại 7
                      li.has-sub.sub-item-level1.js-has-mb-mn
                        a.sub-item(href="/collection.html") Quần Áo Tắm
                        span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                          i.fa.fa-angle-right
                        ul.sub-level2-menu
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 1
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 2
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 3
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 4
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 5
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 6
                          li
                            a(href="/collection.html") Quần Áo Tắm Loại 7
                      li.has-sub.sub-item-level1.js-has-mb-mn
                        a.sub-item(href="/collection.html") Phụ Kiện
                        span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                          i.fa.fa-angle-right
                        ul.sub-level2-menu
                          li
                            a(href="/collection.html") Phụ Kiện Loại 1
                          li
                            a(href="/collection.html") Phụ Kiện Loại 2
                          li
                            a(href="/collection.html") Phụ Kiện Loại 3
                          li
                            a(href="/collection.html") Phụ Kiện Loại 4
                          li
                            a(href="/collection.html") Phụ Kiện Loại 5
                          li
                            a(href="/collection.html") Phụ Kiện Loại 6
                          li
                            a(href="/collection.html") Phụ Kiện Loại 7
              li.dropdown.has-menu.has-mega.js-has-mb-mn
                a.menu-item(href="#") Khuyến Mãi
                span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                  i.fa.fa-angle-right
                ul.sub-level1-menu
                  .mega-wrapper.clearfix
                    .blk-img
                      a(href="#")
                        img(src="../../assets/images/menu/menu_item_img.jpg")
                    ul.blk-menu
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 1
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 2
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 3
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 4
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 5
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 6
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 7
              li.dropdown.has-menu
                a.menu-item(href="#") Tâm Sự
              li.dropdown.has-menu.has-mega.js-has-mb-mn
                a.menu-item(href="/news.html") Tin Tức
                span.button-sub-menu.js-toogle-submenu-mobile.pull-right
                  i.fa.fa-angle-right
                ul.sub-level1-menu
                  .mega-wrapper.clearfix
                    .blk-img
                      a(href="#")
                        img(src="../../assets/images/menu/menu_item_img.jpg")
                    ul.blk-menu
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 1
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 2
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 3
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 4
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 5
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 6
                      li.sub-item-level1
                        a.sub-item(href="/news.html") Tin tức quận 7
              li.dropdown.has-menu
                a.menu-item(href="#") Liên Hệ
