section.header
  .container
    .row
      .header-top.clearfix
        .wrapper
          .header-search
            button.search-icon
              i.fa.fa-search
            form
              input.search-box(type="text" placeholder="Enter to search...")
          .header-right
            ul.clearfix
              li.icon
                i.fa.fa-phone.ico
                |1900 69696
              li.icon
                a(href="#")
                  i.fa.fa-user.ico
              li.icon
                a(href="#")
                  i.fa.fa-user.ico
              li.icon
                a(href="#")
                  i.fa.fa-heart.ico
      .header-menu.clearfix
        .pull-left.col-lg-5.col-md-3.col-sm-3.col-xs-12
          .mobile-burger
            button.btn-burger.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu-content')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .header-logo.mobile-logo
            a.logo(href="#")
              img(src="../../assets/images/icons/home_logo.png")
          ul.mobile-right.clearfix
            li.icon.search-button
              button.btn-search(href="#" data-toggle="collapse" data-target="#search-form")
                i.fa.fa-search.ico
              form#search-form.mobile-search.collapse
                input.search-box(type="text" placeholder="Enter to search...")
            li.icon
              a(href="#")
                i.fa.fa-user.ico
            li.icon
              a(href="#")
                i.fa.fa-heart.ico
        .pull-right.col-lg-7.col-md-9.col-sm-9.col-xs-12
          .mega-menu.clearfix
            ul.pull-right.main-menu
              li.dropdown.has-menu
                a.menu-item(href="#") Trang Chủ
              li.dropdown.has-menu.has-mega
                a.menu-item(href="#") Sản Phẩm
                ul.sub-level1-menu
                  .mega-wrapper.clearfix
                    .blk-img
                      a(href="#")
                        img(src="../../assets/images/menu/menu_item_img.jpg")
                    ul.blk-menu
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Áo Sơ Mi
                        ul.sub-level2-menu
                          li
                            a(href="#") Áo Sơ Mi Tay Ngắn
                          li
                            a(href="#") Áo Sơ Mi Tay Dài
                          li
                            a(href="#") Áo Sơ Mi Vãi Cotton
                          li
                            a(href="#") Áo Sơ Mi Xuất Khẩu
                          li
                            a(href="#") Áo Sơ Mi Kẻ Caro
                          li
                            a(href="#") Áo Sơ Mi Cho Nữ
                          li
                            a(href="#") Áo Sơ Mi Cho Nam
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Quần Jean
                        ul.sub-level2-menu
                          li
                            a(href="#") Quần Jean Cho Nam
                          li
                            a(href="#") Quần Jean Cho Nữ
                          li
                            a(href="#") Quần Jean Loại 1
                          li
                            a(href="#") Quần Jean Loại 2
                          li
                            a(href="#") Quần Jean Loại 3
                          li
                            a(href="#") Quần Jean Loại 4
                          li
                            a(href="#") Quần Jean Loại 5
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Áo Khoác
                        ul.sub-level2-menu
                          li
                            a(href="#") Áo Khoác Cho Nam
                          li
                            a(href="#") Áo Khoác Cho Nữ
                          li
                            a(href="#") Áo Khoác Loại 1
                          li
                            a(href="#") Áo Khoác Loại 2
                          li
                            a(href="#") Áo Khoác Loại 3
                          li
                            a(href="#") Áo Khoác Loại 4
                          li
                            a(href="#") Áo Khoác
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Quần Áo Ngủ
                        ul.sub-level2-menu
                          li
                            a(href="#") Quần Áo Ngủ Loại 1
                          li
                            a(href="#") Quần Áo Ngủ Loại 2
                          li
                            a(href="#") Quần Áo Ngủ Loại 3
                          li
                            a(href="#") Quần Áo Ngủ Loại 4
                          li
                            a(href="#") Quần Áo Ngủ Loại 5
                          li
                            a(href="#") Quần Áo Ngủ Loại 6
                          li
                            a(href="#") Quần Áo Ngủ Loại 7
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Quần Áo Tắm
                        ul.sub-level2-menu
                          li
                            a(href="#") Quần Áo Tắm Loại 1
                          li
                            a(href="#") Quần Áo Tắm Loại 2
                          li
                            a(href="#") Quần Áo Tắm Loại 3
                          li
                            a(href="#") Quần Áo Tắm Loại 4
                          li
                            a(href="#") Quần Áo Tắm Loại 5
                          li
                            a(href="#") Quần Áo Tắm Loại 6
                          li
                            a(href="#") Quần Áo Tắm Loại 7
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Phụ Kiện
                        ul.sub-level2-menu
                          li
                            a(href="#") Phụ Kiện Loại 1
                          li
                            a(href="#") Phụ Kiện Loại 2
                          li
                            a(href="#") Phụ Kiện Loại 3
                          li
                            a(href="#") Phụ Kiện Loại 4
                          li
                            a(href="#") Phụ Kiện Loại 5
                          li
                            a(href="#") Phụ Kiện Loại 6
                          li
                            a(href="#") Phụ Kiện Loại 7
              li.dropdown.has-menu.has-mega
                a.menu-item(href="#") Khuyến Mãi
                ul.sub-level1-menu
                  .mega-wrapper.clearfix
                    .blk-img
                      a(href="#")
                        img(src="../../assets/images/menu/menu_item_img.jpg")
                    ul.blk-menu
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 1
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 2
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 3
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 4
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 5
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 6
                      li.sub-item-level1
                        a.sub-item(href="#") Khuyến mãi Combo 7
              li.dropdown.has-menu
                a.menu-item(href="#") Tâm Sự
              li.dropdown.has-menu.has-mega
                a.menu-item(href="#") Tin Tức
                ul.sub-level1-menu
                  .mega-wrapper.clearfix
                    .blk-img
                      a(href="#")
                        img(src="../../assets/images/menu/menu_item_img.jpg")
                    ul.blk-menu
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 1
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 2
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 3
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 4
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 5
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 6
                      li.has-sub.sub-item-level1
                        a.sub-item(href="#") Tin tức quận 7
              li.dropdown.has-menu
                a.menu-item(href="#") Liên Hệ
      //- .visible-xs
      //-   .navbar-header.menu-mobile
      //-     button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu-content')
      //-       span.sr-only Toggle navigation
      //-       span.icon-bar
      //-       span.icon-bar
      //-       span.icon-bar
      //-     ul#menu-content.menu-mb-list.collapse
      //-       li.menu-item.level0
      //-         a(href="").item Home
      //-         span.btn-sub-mb.collapsed(data-toggle='collapse', data-target='#sub-menu1-level0')
      //-           i.fa.fa-plus.add-mn.ico
      //-           i.fa.fa-minus.minus-mn.ico
      //-         ul#sub-menu1-level0.sub-mb-menu.collapse
      //-           li.menu-item.level1
      //-             a.item(href="#") Home1
      //-           li.menu-item.level1
      //-             a.item(href="#") Home2
      //-           li.menu-item.level1
      //-             a.item(href="#") Home3
      //-           li.menu-item.level1
      //-             a.item(href="#") Home4
      //-           li.menu-item.level1
      //-             a.item(href="#") Home5
      //-           li.menu-item.level1
      //-             a.item(href="#") Home6
      //-       li.menu-item.level0
      //-         a(href="").item Sản phẩm 
      //-         span.btn-sub-mb.collapsed(data-toggle='collapse', data-target='#sub-menu2-level0')
      //-           i.fa.fa-plus.add-mn.ico
      //-           i.fa.fa-minus.minus-mn.ico
      //-         ul#sub-menu2-level0.sub-mb-menu.collapse
      //-           li.menu-item.level1
      //-             a.item(href="#") Sản phẩm 1
      //-           li.menu-item.level1
      //-             a.item(href="#") Sản phẩm 2
      //-           li.menu-item.level1
      //-             a.item(href="#") Sản phẩm 3
      //-           li.menu-item.level1
      //-             a.item(href="#") Sản phẩm 4
      //-           li.menu-item.level1
      //-             a.item(href="#") Sản phẩm 5
      //-           li.menu-item.level1
      //-             a.item(href="#") Sản phẩm 6
      //-       li.menu-item.level0
      //-         a(href="").item News
      //-         span.btn-sub-mb.collapsed(data-toggle='collapse', data-target='#sub-menu3-level0')
      //-           i.fa.fa-plus.add-mn.ico
      //-           i.fa.fa-minus.minus-mn.ico
      //-         ul#sub-menu3-level0.sub-mb-menu.collapse
      //-           li.menu-item.level1
      //-             a.item(href="#") News1
      //-           li.menu-item.level1
      //-             a.item(href="#") News2
      //-           li.menu-item.level1
      //-             a.item(href="#") News3
      //-           li.menu-item.level1
      //-             a.item(href="#") News4
      //-           li.menu-item.level1
      //-             a.item(href="#") News5
      //-           li.menu-item.level1
      //-             a.item(href="#") News6
      //-       li.menu-item.level0
      //-         a(href="").item Contact
      //-         //- span.btn-sub-mb
      //-         //-   i.fa.fa-plus.add-mn
      //-         //-   i.fa.fa-minus.minus-mn
      //-       li.menu-item.level0
      //-         a(href="").item About us
      //-         //- span.btn-sub-mb
      //-         //-   i.fa.fa-plus.add-mn
      //-         //-   i.fa.fa-minus.minus-mn
      //-       li.menu-item.level0
      //-         a(href="").item Sale
      //-         //- span.btn-sub-mb
      //-         //-   i.fa.fa-plus.add-mn
      //-         //-   i.fa.fa-minus.minus-mn
      //-       li.menu-item.level0
      //-         a(href="").item Store
      //-         //- span.btn-sub-mb
      //-         //-   i.fa.fa-plus.add-mn
      //-         //-   i.fa.fa-minus.minus-mn
      //-     .menu-logo
      //-       a.logo(href="#")
      //-         img(src="../../assets/images/icons/logo.png")
      //-     ul.mobile-right.clearfix
      //-       li.icon.search-button
      //-         button.btn-search(href="#" data-toggle="collapse" data-target="#search-form")
      //-           i.fa.fa-search.ico
      //-         form#search-form.mobile-search.collapse
      //-           input.search-box(type="text" placeholder="Enter to search...")
      //-       li.icon
      //-         a(href="#")
      //-           i.fa.fa-user.ico
      //-       li.icon
      //-         a(href="#")
      //-           i.fa.fa-heart.ico
