section.header
  .container
    .row
      .hidden-xs
        .header-top.clearfix
          .wrapper
            .header-search
              button.search-icon
                i.fa.fa-search
              form
                input.search-box(type="text" placeholder="Enter to search...")
            .header-right
              ul.clearfix
                li.icon
                  i.fa.fa-phone.ico
                  |1900 69696
                li.icon
                  a(href="#")
                    i.fa.fa-user.ico
                li.icon
                  a(href="#")
                    i.fa.fa-user.ico
                li.icon
                  a(href="#")
                    i.fa.fa-heart.ico
        .header-menu.clearfix
          .pull-left.col-lg-5.col-md-3.col-sm-3.col-xs-12
            .header-logo
              a.logo(href="#")
                img(src="../../assets/images/icons/logo.png")
          .pull-right.col-lg-7.col-md-9.col-sm-9.col-xs-12
            .mega-menu.clearfix
              ul.pull-right.main-menu
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") Home
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home1
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                            li
                              a(href="#") sub Home1
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home2
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                            li
                              a(href="#") sub Home2
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home3
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                            li
                              a(href="#") sub Home3
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home4
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub Home4
                            li
                              a(href="#") sub mega9
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home5
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                            li
                              a(href="#") sub Home5
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home6
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                            li
                              a(href="#") sub Home6
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home7
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                            li
                              a(href="#") sub Home7
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home8
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                            li
                              a(href="#") sub Home8
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Home9
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                            li
                              a(href="#") sub Home9
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") Product
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product1
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                            li
                              a(href="#") sub Product1
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product2
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                            li
                              a(href="#") sub Product2
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product3
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                            li
                              a(href="#") sub Product3
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product4
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                            li
                              a(href="#") sub Product4
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product5
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                            li
                              a(href="#") sub Product5
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product6
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                            li
                              a(href="#") sub Product6
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product7
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                            li
                              a(href="#") sub Product7
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product8
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                            li
                              a(href="#") sub Product8
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Product9
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                            li
                              a(href="#") sub Product9
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") News
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News1
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                            li
                              a(href="#") sub News1
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News2
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                            li
                              a(href="#") sub News2
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News3
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                            li
                              a(href="#") sub News3
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News4
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                            li
                              a(href="#") sub News4
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News5
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub News5
                            li
                              a(href="#") sub mega9
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News6
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                            li
                              a(href="#") sub News6
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News7
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                            li
                              a(href="#") sub News7
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News8
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                            li
                              a(href="#") sub News8
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") News9
                          ul.sub-level2-menu
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                            li
                              a(href="#") sub News9
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") Contact
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact1
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                            li
                              a(href="#") sub Contact1
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact2
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                            li
                              a(href="#") sub Contact2
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact3
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                            li
                              a(href="#") sub Contact3
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact4
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                            li
                              a(href="#") sub Contact4
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact5
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                            li
                              a(href="#") sub Contact5
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact6
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                            li
                              a(href="#") sub Contact6
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact7
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                            li
                              a(href="#") sub Contact7
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact8
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                            li
                              a(href="#") sub Contact8
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") Contact9
                          ul.sub-level2-menu
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                            li
                              a(href="#") sub Contact9
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") About us
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About1
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                            li
                              a(href="#") sub About1
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About2
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                            li
                              a(href="#") sub About2
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About3
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                            li
                              a(href="#") sub About3
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About4
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                            li
                              a(href="#") sub About4
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About5
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                            li
                              a(href="#") sub About5
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About6
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                            li
                              a(href="#") sub About6
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About7
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                            li
                              a(href="#") sub About7
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About8
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                            li
                              a(href="#") sub About8
                        li.has-sub.sub-item-level1
                          a.sub-item(href="#") About9
                          ul.sub-level2-menu
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                            li
                              a(href="#") sub About9
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") Sale
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.sub-item-level1
                          a.sub-item(href="#") Sale1
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale2
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale3
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale4
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale5
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale6
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale7
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale8
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Sale9
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                li.dropdown.has-menu.has-mega
                  a.menu-item(href="#") Store
                  ul.sub-level1-menu
                    .mega-wrapper.clearfix
                      .blk-img
                        a(href="#")
                          img(src="../../assets/images/menu/menu-item.png")
                      ul.blk-menu
                        li.sub-item-level1
                          a.sub-item(href="#") Store1
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store2
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store3
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store4
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store5
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store6
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store7
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store8
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
                        li.sub-item-level1
                          a.sub-item(href="#") Store9
                          //- ul.sub-level2-menu
                          //-   li
                          //-     a(href="#") sub mega1
                          //-   li
                          //-     a(href="#") sub mega2
                          //-   li
                          //-     a(href="#") sub mega3
                          //-   li
                          //-     a(href="#") sub mega4
                          //-   li
                          //-     a(href="#") sub mega5
                          //-   li
                          //-     a(href="#") sub mega6
                          //-   li
                          //-     a(href="#") sub mega7
                          //-   li
                          //-     a(href="#") sub mega8
                          //-   li
                          //-     a(href="#") sub mega9
      .visible-xs
        .navbar-header.menu-mobile
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu-content')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          ul#menu-content.menu-mb-list.collapse
            li.menu-item.level0
              a(href="").item Home
              span.btn-sub-mb.collapsed(data-toggle='collapse', data-target='#sub-menu1-level0')
                i.fa.fa-plus.add-mn.ico
                i.fa.fa-minus.minus-mn.ico
              ul#sub-menu1-level0.sub-mb-menu.collapse
                li.menu-item.level1
                  a.item(href="#") Home1
                li.menu-item.level1
                  a.item(href="#") Home2
                li.menu-item.level1
                  a.item(href="#") Home3
                li.menu-item.level1
                  a.item(href="#") Home4
                li.menu-item.level1
                  a.item(href="#") Home5
                li.menu-item.level1
                  a.item(href="#") Home6
            li.menu-item.level0
              a(href="").item Product
              span.btn-sub-mb.collapsed(data-toggle='collapse', data-target='#sub-menu2-level0')
                i.fa.fa-plus.add-mn.ico
                i.fa.fa-minus.minus-mn.ico
              ul#sub-menu2-level0.sub-mb-menu.collapse
                li.menu-item.level1
                  a.item(href="#") Product1
                li.menu-item.level1
                  a.item(href="#") Product2
                li.menu-item.level1
                  a.item(href="#") Product3
                li.menu-item.level1
                  a.item(href="#") Product4
                li.menu-item.level1
                  a.item(href="#") Product5
                li.menu-item.level1
                  a.item(href="#") Product6
            li.menu-item.level0
              a(href="").item News
              span.btn-sub-mb.collapsed(data-toggle='collapse', data-target='#sub-menu3-level0')
                i.fa.fa-plus.add-mn.ico
                i.fa.fa-minus.minus-mn.ico
              ul#sub-menu3-level0.sub-mb-menu.collapse
                li.menu-item.level1
                  a.item(href="#") News1
                li.menu-item.level1
                  a.item(href="#") News2
                li.menu-item.level1
                  a.item(href="#") News3
                li.menu-item.level1
                  a.item(href="#") News4
                li.menu-item.level1
                  a.item(href="#") News5
                li.menu-item.level1
                  a.item(href="#") News6
            li.menu-item.level0
              a(href="").item Contact
              //- span.btn-sub-mb
              //-   i.fa.fa-plus.add-mn
              //-   i.fa.fa-minus.minus-mn
            li.menu-item.level0
              a(href="").item About us
              //- span.btn-sub-mb
              //-   i.fa.fa-plus.add-mn
              //-   i.fa.fa-minus.minus-mn
            li.menu-item.level0
              a(href="").item Sale
              //- span.btn-sub-mb
              //-   i.fa.fa-plus.add-mn
              //-   i.fa.fa-minus.minus-mn
            li.menu-item.level0
              a(href="").item Store
              //- span.btn-sub-mb
              //-   i.fa.fa-plus.add-mn
              //-   i.fa.fa-minus.minus-mn
          .menu-logo
            a.logo(href="#")
              img(src="../../assets/images/icons/logo.png")
          ul.mobile-right.clearfix
            li.icon.search-button
              button.btn-search(href="#" data-toggle="collapse" data-target="#search-form")
                i.fa.fa-search.ico
              form#search-form.mobile-search.collapse
                input.search-box(type="text" placeholder="Enter to search...")
            li.icon
              a(href="#")
                i.fa.fa-user.ico
            li.icon
              a(href="#")
                i.fa.fa-heart.ico
